site_name: "FileSenderCLI"

nav:
  - index.md
  - Python API:
    - Python API/index.md
    - Python API/request_types.md
    - Python API/response_types.md
  - changelog.md
  - 'Benchmark': benchmark.ipynb

theme:
  name: "material"

plugins:
- autorefs
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        options:
          docstring_section_style: table
          show_root_heading: true
          heading_level: 2
          show_source: false
          show_signature: true
          show_signature_annotations: true
          separate_signature: true
          signature_crossrefs: true
          merge_init_into_class: true
          docstring_options:
            ignore_init_summary: false
            trim_doctest_flags: false
- mkdocs-jupyter

markdown_extensions:
  - toc:
  - pymdownx.highlight:
      use_pygments: true
      anchor_linenums: true
      default_lang: python
      line_spans: __span
      pygments_lang_class: true
      pygments_style: lightbulb
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - meta
  - mkdocs-typer
