[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "filesender-client"
description = "FileSender Python CLI and API client"
readme = "README.rst"
requires-python = ">=3.11"
keywords = ["one", "two"]
license = {text = "BSD-3-Clause"}
classifiers = [
    "Programming Language :: Python :: 3",
]
dependencies = [
    "typer>=0.9.0",
    "beautifulsoup4",
    "rich",
    "httpx",
    "aiofiles"
]
dynamic = ["version"]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest_asyncio",
    "mkdocs",
    "mkdocs-material",
    "mkdocstrings[python]",
    "mkdocs-typer",
    "pymdown-extensions",
    "pygments",
    "black"
]

[project.scripts]
filesender = "filesender.main:app"
